<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="cardFragment(item)" th:object="${item}" th:onclick="|location.href='@{/item(itemId=*{getItemId})}'|" class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://bulma.io/assets/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p th:text="|*{getTitle()}|" class="subtitle is-6">iPhone 15 Pro Max Ultra General King Saesong Samdo-Sugoon-Tongjaesa 516PB</p>
                <p th:text="|*{getPrice()}원|" class="title is-4">999,999원</p>
            </div>
        </div>

        <div th:text="*{getDescription()}" class="content"></div>
        <time th:text="*{getCreatedAt()}" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
</div>
</body>
</html>