<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbarFragment(username)" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
                <img src="/img/soondae_market.svg" alt="logo" style="height: 52rem">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                홈
            </a>

            <a class="navbar-item" href="/items">
                상점
            </a>
        </div>

        <div class="navbar-end">
            <div th:if="${#strings.isEmpty(username)}" class="navbar-item">
                <div class="buttons">
                    <a href="/signup" class="button is-primary">
                        <strong>회원가입</strong>
                    </a>
                    <a href="/login" class="button is-light">
                        로그인
                    </a>
                </div>
            </div>
            <div th:if="${not #strings.isEmpty(username)}" class="navbar-item has-dropdown is-hoverable">
                <a th:text="${username}" class="navbar-link"></a>

                <div class="navbar-dropdown">
                    <a href="/item/create" class="navbar-item">
                        상품 등록
                    </a>
                    <a href="/myItems" class="navbar-item">
                        내 상품 목록
                    </a>
                    <hr class="navbar-divider">
                    <a href="/logout" class="navbar-item">
                        로그아웃
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>