<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
  <div th:replace="~{fragment/navbar :: navbarFragment}"></div>
    <div class="container">
        <h1 class="title">안녕하세요. 오늘은 어떤 제품을 발견해볼까요?</h1>
        <br />
        <div class="columns">
            <div class="column">
                <div th:replace="~{fragment/demoCard :: demoCardFragment}"></div>
            </div>
            <div class="column">
                <div th:replace="~{fragment/demoCard :: demoCardFragment}"></div>
            </div>
            <div class="column">
                <div th:replace="~{fragment/demoCard :: demoCardFragment}"></div>
            </div>
        </div>
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">월간 활성 유저</p>
                    <p class="title">3,456</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">지금까지 등록된 상품</p>
                    <p class="title">123</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Followers</p>
                    <p class="title">456K</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Likes</p>
                    <p class="title">789</p>
                </div>
            </div>
        </nav>
        <h1 class="title is-4">내가 등록한 상품</h1>
        <div class="columns">
            <div class="column">
                <div th:replace="~{fragment/demoCard :: demoCardFragment}"></div>
            </div>
            <div class="column">
                <div th:replace="~{fragment/demoCard :: demoCardFragment}"></div>
            </div>
            <div class="column">
                <div th:replace="~{fragment/demoCard :: demoCardFragment}"></div>
            </div>
        </div>
    </div>
</body>
</html>