<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
  <div th:replace="~{fragment/navbar :: navbarFragment(${sessionUsername})}"></div>
    <div class="container">
        <h1 th:if="${#strings.isEmpty(sessionUsername)}" class="title">안녕하세요. 오늘은 어떤 제품을 발견해볼까요?</h1>
        <h1 th:unless="${#strings.isEmpty(sessionUsername)}" class="title" th:text="|안녕하세요 ${nickname}님, 어떤 제품을 발견해볼까요?|"></h1>
        <br />
        <div class="columns is-multiline">
            <div th:each="item : ${recentItems}" class="column is-one-quarter">
                <div class="cell" th:replace="~{fragment/card :: cardFragment(${item})}"></div>
            </div>
        </div>
        <div th:if="${not #strings.isEmpty(sessionUsername)}" id="my-item">
        <h1 class="title is-4">내가 등록한 상품</h1>
        <div class="columns is-multiline">
            <div th:each="item : ${myItem}" class="column is-one-quarter">
                <div th:replace="~{fragment/card :: cardFragment(${item})}"></div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>