<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
<div th:replace="~{fragment/navbar :: navbarFragment}"></div>
<div class="container">
    <h1 class="title">최근 등록된 상품</h1>
    <br />
    <div class="columns is-multiline">
        <div th:each="item : ${items}" th:object="${item}" class="column is-one-quarter">
            <div th:replace="~{fragment/card :: cardFragment(*{getTitle()}, *{getPrice()}, *{getDescription()}, *{getCreatedAt()})}"></div>
        </div>
    </div>
    <nav th:replace="~{fragment/pagination :: pagination(${page})}"></nav>
</div>
</body>
</html>