<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js" integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
  <div th:replace="~{fragment/navbar :: navbarFragment(${sessionUsername})}"></div>
    <div class="container">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <h1 class="title">로그인</h1>
                    <form id="login_form" action="/login" method="post">
                        <div class="field">
                            <label class="label">이메일</label>
                            <div class="control">
                                <input class="input" type="text" name="username" placeholder="이메일을 입력하세요">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">비밀번호</label>
                            <div class="control">
                                <input class="input" type="password" name="password" placeholder="비밀번호를 입력하세요">
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-link">로그인</button>
                            </div>
                            <div class="control">
                                <button onclick="location.href=document.referrer" class="button is-link is-light">취소</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  <script>
      const form = document.querySelector('#login_form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const username = formData.get('username');
            const password = window.CryptoJS.SHA256(formData.get('password')).toString();
            formData.set('username', username);
            formData.set('password', password);
            const response = await fetch(form.action, {
                method: form.method,
                body: formData
            });
            const result = response.status;
            if (result === 200) {
                response.url.includes('error') ? alert('로그인 실패') : location.href = '/';
            } else {
                alert('로그인 실패');
            }
        });
  </script>
</body>
</html>