<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내가 등록한 상품 - 순대마켓 Soondae Market</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
</head>
<body>
<div th:replace="~{fragment/navbar :: navbarFragment(${sessionUsername})}"></div>
<div class="container">
    <h1 class="title">내가 등록한 상품</h1>
    <br />
    <div class="columns is-multiline">
        <div th:each="item : ${items}" class="column is-one-quarter">
            <div th:replace="~{fragment/card :: cardFragment(${item})}"></div>
        </div>
    </div>
</div>
</body>
</html>