<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 - 순대마켓 Soondae Market</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
</head>
<body>
  <div th:replace="~{fragment/navbar :: navbarFragment(${sessionUsername})}"></div>
    <div class="container">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <h1 class="title">회원가입</h1>
                    <form id="verification_form" action="api/signup/verification" method="post">
                        <div class="field">
                            <label class="label">학교 이메일</label>
                            <div class="control">
                                <input class="input" type="text" name="email" placeholder="example@sch.ac.kr">
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-link">인증 메일 전송</button>
                            </div>
                            <div class="control">
                                <button onclick="location.href=document.referrer" class="button is-link is-light">취소</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  <script>
      const form = document.querySelector('#verification_form');
      form.addEventListener('submit', async (e) => {
          e.preventDefault();
          const formData = new FormData(form);
          const response = await fetch(form.action, {
              method: form.method,
              body: formData
          });
          const result = response.status;
            if (result === 200) {
                alert('인증 메일이 전송되었습니다. (Spring Boot 콘솔에 출력된 URL로 접속하여 회원가입을 완료해주세요.)');
                // location.href = '/';
            } else {
                alert('인증 메일 전송에 실패했습니다.');
            }
      });
  </script>
</body>
</html>