<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/a88b062e84.js" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{fragment/navbar :: navbarFragment(${sessionUsername})}"></div>
    <div class="container">
        <h1 class="title">상품 정보 수정</h1>
        <div class="tile is-ancestor is-vertical">
            <div th:object="${item}" class="tile is-parent">
                <form id="update_form" action="/api/item/update" method="post">
                <div class="tile is-child box">
                    <div class="field">
                        <label class="label">상품명</label>
                        <div class="control">
                            <input th:value="*{getTitle()}" name="title" class="input" type="text" placeholder="상온 초전도체 팝니다.">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">판매 가격</label>
                        <div class="control">
                            <input th:value="*{getPrice()}" name="price" class="input" type="number" min="100" placeholder="2,000,000,000">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">상품 설명</label>
                        <div class="control">
                            <textarea th:text="*{getDescription()}" name="description" class="textarea" placeholder="고양이 레이저 포인터 대신으로 가지고 놀아주다가 집안이 박살이 나서 급처합니다."></textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">상품 정보 수정</button>
                        </div>
                        <div class="control">
                            <button onclick="location.href='/'" class="button is-link is-light">취소</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const form = document.querySelector('#update_form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            formData.append('itemId', new URLSearchParams(location.search).get('itemId'));
            const response = await fetch(form.action, {
                method: form.method,
                body: formData
            });
            const result = response.status;
            if (result === 200) {
                location.href = '/';
            } else {
                alert('상품 등록 실패');
            }
        });
    </script>
</body>
</html>